.Weather {
  display: block;
  background-color: rgba(228, 219, 219, 0.699);
  box-shadow: 2px 2px 3px rgb(49, 54, 63);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  max-width: 720px;
  margin: 0 auto;
}
body {
  background-image: url("./img/background.jpg");
  background-size: 1980px;
  padding-top: 150px;
}
.city-input {
  width: 570px;
  padding: 3px;
  border-radius: 7px;
  border-style: none;
  box-shadow: 2px 2px 0 rgb(62, 89, 144);
}
.searchbtn {
  background-color: black;
  color: white;
  font-size: 12px;
  position: relative;
  bottom: 2px;
  border-radius: 7px;
  box-shadow: 2px 2px 3px rgb(49, 54, 63);
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  margin: 8px;
  width: 90px;
}
.city-name {
  margin: 10px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.current-weather {
  text-transform: uppercase;
}
.current-temp {
  font-size: 30px;
}
.unit {
  font-size: 15px;
  position: relative;
  bottom: 10px;
}

.break {
  position: relative;
  bottom: 13px;
  margin: 1px;
  font-size: 12px;
}
.weather-icon canvas {
  text-align: left;
}
.col,
.col-6 {
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
}
.code-source {
  color: white;
  text-decoration: none;
}
@media (max-width: 990px) {
  body {
    background-size: 1980px;
    padding-top: 80px;
  }
  .city-input {
    width: 70%;
  }
  .city-name {
    text-align: center;
  }
  .searchbtn {
    width: 25%;
  }
  .weather-display {
    text-align: center;
  }
}
